:root {
    --blue: #00adee;
    --grey: #505355;
}
  
* {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    box-sizing: border-box;
}
html {
    font-size: 16px;
}
body{
    margin-left:8%;
    margin-right:8%;

}
header img
{
    height: 40px;
}
h1{
    font-size:2em;
}
h2
{
    font-size:1.75em;
    line-height:1.4em;
}
 
#student-grid
{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-areas:"quote quote pic"
                        "profile profile contact"
                        "experience experience experience";
}


#student-quote
{
    grid-area: quote;
     margin:auto; 
}
#student-picture
{
    grid-area: pic;
}
#student-profile
{
    grid-area: profile;
}
#student-contact
{
    grid-area: contact;
    text-align: center;
}




#student-picture >img {
    
        border-radius: 50%;
       
      }
#experience{
display:flex;
flex-direction: row;
flex-wrap:wrap;
grid-area: experience;
}
#experience > div{
    flex-basis: 400px;
    flex-grow: 1;
    margin: 0px 20px;
}
div >h3{
    color : #00adee
}







