:root {
    --blue: #00adee;
    --grey: #505355;
}
  
* {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    box-sizing: border-box;
}
html {
    font-size: 16px;
}

 
#student-grid
{
    display:grid;
    grid-template-columns:8% 1fr 1fr 1fr 8%;
    grid-template-areas:". quote quote pic ."
                        ". profile profile contact ."
                        ". experience experience experience .";
}

header{
    height:20px;
}
#student-quote
{
    grid-area: quote;
     margin:auto; 
}
#student-picture
{
    grid-area: pic;
}
#student-profile
{
    grid-area: profile;
}
#student-contact
{
    grid-area: contact;
    text-align: center;
}
header > img
{
    height: 20px;
    margin: 8%;
}

main >h1
{
    margin-left:8%;
    margin-top:5pt;
}

#student-picture >img {
    
        border-radius: 50%;
       
      }
#experience{
display:flex;
flex-direction: row;
flex-wrap:wrap;
grid-area: experience;
}
#experience > div{
    flex-basis: 400px;
    flex-grow: 1;
    margin: 0px 20px;
}
div >h3{
    color : #00adee
}







