@model Customer
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>


<!--create form-->
<form method="get" action="/Customers/SearchResult">
    
    <table>
        <tr>

            <td><label for="Request">Name:</label></td>
            <td><input type="text" name="Request" id="Request" /></td>
           
        </tr>
        <tr>
            <td><label for="sortby">Sort By</label></td>
            <td>
                <select name="sortby" id="sortby">
                    <option value="last_name">LastName</option>
                    <option value="first_name">FirstName</option>
                    <option value="email">Email</option>
                    <option value="active">Active</option>

                </select>
            </td>
        </tr>
    </table>
    <input type="submit" value="Search" />
    <table class="table table-striped">
        <tr>
            <td><label for="Name">Name</label></td>
            <td><label for="Email">Email</label></td>
            <td><label for="Active">Active</label></td>
        </tr>
    </table>
</form>

