@model Customer
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>


<h2>Name:</h2>
<h2>Sortby:</h2>
<!--create form-->
<form method="get" action="/Customer/SearchResult">
    
    <table>
        <tr>

            <td><label for="Name">Name:</label></td>
            <td><input type="text" /></td>
           
        </tr>
        <tr>
            <td><label for="sortby">Sort By</label></td>
            <td>
                <select name="sortby" id="sortby">
                    <option value="LastName">LastName</option>
                    <option value="FirstName">FirstName</option>
                    <option value="Email">Email</option>
                    <option value="Active">Active</option>

                </select>
            </td>
        </tr>
    </table>
    <input type="submit" value="Search" />
    <table class="table table-striped">
        <tr>
            <td><label for="Name">Name</label></td>
            <td><label for="Email">Email</label></td>
            <td><label for="Active">Active</label></td>
        </tr>
    </table>
</form>

