@model IList<Customer>
@{
    ViewData["Title"] = "SearchResult";
}

<h2>SearchResult</h2>

<form method="get" action="/Customer/SearchResult">

    <table>
        <tr>

            <td><label for="Search">Name:</label></td>
            <td><label for="SortBy">Sort By:</label></td>
        </tr>
        <tr>
            <td><label for="sortby">Sort By</label></td>
            <td>
                <select name="sortby" id="sortby">
                    <option value="last_name">LastName</option>
                    <option value="first_name">FirstName</option>
                    <option value="email">Email</option>
                    <option value="active">Active</option>

                </select>
            </td>
        </tr>
    </table>
    
    <table class="table table-striped">
        <tr>
            <td><label for="Name">Name</label></td>
            <td><label for="Email">Email</label></td>
            <td><label for="Active">Active</label></td>
        </tr>
       @foreach (Customer customer in Model)
        {
           <tr>
               <td>@customer.FirstName  @customer.LastName</td>
               <td>@customer.Email</td>
               <td>@(customer.IsActive ? "Yes" :"No")</td>
           </tr>
        }
        
     
    </table>
</form>