@model Actor
@{
    ViewData["LastName"] = "Search";
}

<h2>Last Name:</h2>
<!--create form-->
<form method="get" action="/Actors/SearchResult">

    <label for="Request">LastName</label>
    <input input type="text" name="Request" id="Request" />
    <input type="submit" value="Search" />
</form>




<a href="C:\Users\Student\git\rachelhuch-c\module-3\06-Forms-and-Controllers-HTTP-GET\student-exercise\GETForms.Web\Views\Actors\Index.cshtml">C:\Users\Student\git\rachelhuch-c\module-3\06-Forms-and-Controllers-HTTP-GET\student-exercise\GETForms.Web\Views\Actors\Index.cshtml</a>